.profile__user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__user-avatar {
  border-radius: 50%;
  background: #353535;
  width: 80px;
  height: 80px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  color: #fff;
}

.profile__user--avatar-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.log__out--btn i {
  font-size: 18px;
}
.log__out--btn {
  width: 130px;
  background: #a3a3dd;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #353535;
  box-shadow: 3px 3px 6px #353535, -3px -3px 6px #c5c5dd;
}

@media screen and (max-width: 1000px) {
  .profile__user-avatar {
    width: 60px;
    height: 60px;
    font-size: 12px;
    margin-right: 20px;
  }
  .profile__user--avatar-img{
    width: 60px;
    height: 60px;
  }
  .log__out--btn i {
    font-size: 16px;
  }
  .log__out--btn {
    width: 100px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .profile__user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .profile__user--avatar-img{
    width: 40px;
    height: 40px;
  }
  .log__out--btn {
    width: 85px;
    padding: 3px;
    font-size: 12px;
  }
}
